.app-layout {
  display: flex;
  min-height: 100vh;
  background: var(--fondo);
}

main {
  flex: 1;
  overflow-y: auto;
  background: var(--fondo);
}

main.with-sidebar {
  padding: 2.5rem;
  margin-left: 220px;
  background: var(--fondo);
}